<div class="jumbotron">
  <h1 class="display-4">
  	<%= profile.first_name %>
  	<%= profile.last_name %>
  </h1>
  <p class="lead">
  	Email: <%= profile.email %> </br>
  	Phone: <%= profile.phone %> </br>
  	Company: <%= profile.company %>
  </p>
  <hr class="my-4">
  </p>
</div>

<div id="<%= dom_id profile %>">