<br/>

<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <%= link_to "Edit", edit_profile_path(@profile) %>
  <%= link_to "Back", profiles_path %>
  <%= button_to "Destroy", @profile, method: :delete %>
</div>
