<br/>

<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <%= link_to "Edit", edit_profile_path(@profile) %>
  <%= link_to "Back", "http://3.144.217.210:3000/home/employer" %>
  <%= button_to "Destroy", @profile, method: :delete %>
</div>
